.contanier{
    width: 100%;
    height: 100%;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
}
.slider-container .slider{
    height: 500px;
    width: 90%;
}

.HASOKA{
    height: 40%;
    width: 100%;
    padding-top: 30px;
}
.content{
    height: 100%;
    width: 87%;
    margin-left: 80px;
    margin-right: 80px;
}
.details{
    height: 100%;
    width: 439px;
}
.imagen{
    height: 35%;
    width: 100%;
}
p{
    --utility-font-family: InspireTWDC, Helvetica, sans-serif;
    --utility-font-weight: normal;
    --utility-font-style: normal;
    --globalchrome-font-family: InspireTWDC, Helvetica, sans-serif;
    --globalchrome-font-weight: normal;
    --globalchrome-font-style: normal;
    --sansserif-font-family: var(--utility-font-family);
    --sansserif-font-weight: var(--utility-font-weight);
    --sansserif-font-style: var(--utility-font-style);
    --globalfooter-font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    --globalfooter-font-weight: 400;
    --globalfooter-font-style: normal;
    --header-font-family: DINNext, Matterhorn, Helvetica, sans-serif;
    --header-font-weight: 500;
    --header-font-style: normal;
    --body-font-family: DINNext, Matterhorn, Helvetica, sans-serif;
    --body-font-weight: 500;
    --body-font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    list-style: none;
    pointer-events: none;
    user-select: none;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "DINNext";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
.boton{
    height: 48px;
    width: 210px;
    border-radius: 30px;
    background-color: rgb(242, 210, 78);
    font: small-caps bold 12px/30px Georgia, serif;
}
.react-multi-carousel-track{
    height: 500px;
    align-items: center;
}