.App {
  text-align: center;
}

.navar{
  height: 200px;
  width: 100%;
  border-color: red;
  border: solid 10px;
}

.main{
  height: 200px;
  width: 100%;
  border-color: red;
  border: solid 10px;
}

