/* html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
} */

a{
  text-decoration: none;
  color: black;
}


.body{
  
  background-image: url('/src/media/background.jpeg');
}


main {
  padding: 0;
}

.App {
  text-align: center;
}

.background-page {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.contenedor{
  padding: 0px ;
}

.carousel-content{
  padding: 0;
}

.carousel-content img {
  max-height: 685px;
  
}

@media (min-width: 768px) {
  .contenedor {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
  }
}

.carusel-cuadro {
 
  height: 80px ;
  width: 142px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.custom-div {
  width: 126px;
  height: 62px;
  margin: 5%;
}

/* .carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 24px;
}
.carousel-indicators [data-bs-target] span {
  content: ’’;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7952b3;
  border-radius: inherit;
} */

.carousel-item.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item {
  opacity: 0;
}



.cartas{
  height: 850px;
  width: 100%;
  background-color: darkgray;
  margin-top: 30px;
}
.end{
  background-color: aliceblue;
  height: 300px;
  width: 100%;
}
.texto_navar{
  height: 56px;
  box-shadow: 1px 1px 2px whitesmoke;
  
}

.modal-content{
  background-color: #181818;
  padding: 20px 40px 40px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.modal-body{
  
  height:288px ;
  width: 460px;
}

modal-footer{
  border: none;
}